body{
  margin: 0px;
  font-family: sans-serif;
  background-color: black;
}

.main{
  background-image: url(images/misc/joker1.jpg);
  background-size: cover;
  height: 100vh;
}

.play-btn {
  font-size: 20px;
  padding: 10px;
  font-weight: 400;
  width: 100px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
  background-color: #e6e6e6;
}

.play-btn:hover {
  background-color: #e50914;
  color: white;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

.trailer video {
  width: 60vw;
  max-width: 700px;
  outline: none;
  position: relative;
  padding: 30px 0px;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-size: 42px;
  cursor: pointer;
}

.logo img{
  width: 180px;
}

.navbar ul{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  align-items:center;
}

.navbar li{
  margin: 10px;
  flex-direction: row;
  
}

.navbar a{
  text-decoration: none;
  margin-top: 100px;
  color: white;
}

.navbar{
  display: flex;
  margin-left: -50px;
  margin-top: -20px;
}

.Joker{
  color: white;
  margin-left: 15px;
  max-width: 50%;
  margin-top: 150px;
}

.Joker h2{
  font-size: 45px;
  margin-bottom: 10px;
}

.Joker p{
  margin-bottom: 20px;
}

.Joker button{
  width: 80px;
  height: 40px;
  transition: 0.5s;
}

.Joker button:hover{
  cursor: pointer;
  width: 90px;
}

.container-display-items{
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Netflix Sans';
}

.images img{ 
  width: 275px;
  margin: 0px 10px;
  cursor: pointer;
  transition: 0.8s;
}

.images img:hover{
  transform: scale(1.1);
}

.container-display-items .images{
  display: flex;
}

.container-display-items h2{
  color: white;
  font-weight: 500;
  font-family: sans-serif;
  font-size: medium;
  margin: 15px;
}


.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 375px;
  background-color: black;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footercon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  background-color: transparent;
}

.footer .flex1 {
  color: #999;
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: 17px;
  min-height: 30px;
}

.footer .flex1 h5 {
  align-self: flex-start;
}

.list1 {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  align-self: center;
  justify-content: center;
  min-height: 50px;
  font-size: 13px;
  padding: 0px 70px;
  text-align: left;
}

.list1 li {
  font-size: 13px;
  margin: 7px -10px;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: center;
  align-self: flex-start;
  justify-content: center;
}

.list1 li a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}

li a {
  font-size: 13px;
  text-align: center;
  color: #999;
}

.footertxt {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.end {
  width: 100%;
  min-height: 50px;
  /* background-color: black; */
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #999;
  /* margin-top: -60px; */
}

.end h2 {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}